* {
    box-sizing: border-box;
}
/*
#FB8122(orange) #1D2228(black) #E1E2E2
#051622#1BA098#DEB992
#051622#1BA098#DEB992#F3F1E2

#1F3044#FB9039#646C79#F3F1E2
#FAF0DC #0B4141(dark) #FF6864 (easy to work with)

Set2: F3F1E2(Background), EDEAD0(In case needed to type on Black), 3BBA98(green to highlight), 140F00(Black) 
*/
:root {
    --primary-color: #f7f1e6;
    --highlight: #FF6864;
    --light: white;
    --tile-color: #F3F1E2;
    --dark-bg: #0B4141;
}
/* Style for body */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0%;
    background-color: var(--light);
}

/* Style for header */
header#top {
    height: 20vh;
    display: flex;
    align-items: center;
    background: linear-gradient(135deg, var(--dark-bg), var(--primary-color));
}
img#profile_pic {
    width: 16vh;
    height: 16vh;
    margin: 1%;
    border-radius: 100%;
}
h1 {
    margin: 1%;
    font-size: 2em;
    color: var(--primary-color);
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

/* Style for Nav bar */
nav {
    position: sticky;
    top: 0px;
    left: 0px;
}
ul#nav_list {
    margin: 0%;
    padding-right: 10%;
    padding-left: 10%;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--dark-bg);
}
/* #nav_list > li {
    margin: 1%;
} */
#nav_list > li.tab a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: var(--primary-color);
    font-family: 'Montserrat', sans-serif;
}
#nav_list > li.tab a:hover:not(.active) {
    color: var(--highlight);
}
#nav_list > li.tab a.active {
    background-color: var(--highlight);
}

#nav_list #name {
    padding: 0%;
    margin: 0%;
    color: var(--primary-color);
    text-align: left;
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
    flex: 1;
}


/* Style for Main */
div#main {
    flex-grow: 1;
}
section.about_me {
    border-radius: 2%;
    margin: 1%;
    padding: 1%;
    background-color: var(--tile-color);
}
section.hidden {
    display: none;
}

/* Style for Footer */
footer {
    margin: 0%;
    padding: 4%;
    flex-shrink: 0;
    background-color: var(--dark-bg);
}

footer .heading {
    margin: 1%;
    color: var(--light);
    text-align: center;
}

footer > p {
    margin: 1%;
    color: var(--light);
    text-align: center;
    font-style: italic;
    font-size: 1em;
}

footer > ul {
    margin: 1%;
    padding: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    color: var(--light);
}

footer li {
    margin: 1%;
    display: flex;
    align-items: center;
}

footer li svg:hover {
    fill: var(--highlight)
}